<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/image/img.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help♥️</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>created by {{name}}</p>
</div>
{{>footer}}
</body>

</html>
